.service img{
    width: 230px;
    height: 200px;
}
.service {
    background-color: lightsteelblue;
    box-shadow: 0 4px 8px 0 rgb(20, 141, 223);
    border-radius: 20px;
    padding: 20px; 
    margin: 10px;
    }
h4{
    color:rgb(238, 104, 104);
}
