.slogan{color: white}
#shado-color{
    color: blueviolet;
}
.vivid-color{
    color: rgb(164, 240, 193);
}
.center-position{
    text-align: center;
}
.dark-back{
    background-color: rgb(56, 53, 53);
}